@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  margin: 0;
  padding:0;
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}